@model GESTIONAR_PROMOCIONES.Models.Category

@{
    ViewData["Title"] = "Details Cartegory";
}

<div class="container">
    <h1 class="my-4">Category Details</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title">Category Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </dl>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-sm">Edit</a>
        <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List</a>
    </div>
</div>
